*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #f59abb, #cb9f7e, #ba84d0);
    padding: 10px;
}

.todo-app
{
  width: 100%;
  max-width: 600px; 
  background: #fff;
  margin: 100px auto 20px; 
  padding: 40px 30px 70px;
  border-radius: 10px;
}

.todo-app h2
{
    font-family: 'Pacifico', cursive;
    /* font-family: 'Dancing Script', cursive; */
    /* font-family: 'Great Vibes', cursive; */
    font-size: 37px; /* Make it a bit bigger to flaunt that gradient */
    font-weight: 550;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background: linear-gradient(90deg, #8b0e57, #f4d4b0, #5e2a84);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.todo-app h2 img
{
    width: 39px;
    margin-left: 10px;
    border-radius: 5px;
}

.row
{
   display: flex;
   align-items: center;
   justify-content: space-between; 
   background: #edeef0;
   border-radius: 30px;
   padding-left: 20px;
   margin-bottom: 25px;
}

input
{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}

button
{
    border: none;
    outline: none; 
    padding: 16px 50px;
    background: #dca0ea;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

ul li
{
   list-style: none;
   font-size: 17px;
   padding: 12px 8px 12px 50px;
   user-select: none; 
   cursor: pointer;
   position: relative;
}

ul li::before
{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/uncheck.jpg);
    filter: hue-rotate(25deg);
    background-size: cover;
    background-position: center;
    top: 7px;
    left: 8px;
    background-repeat: no-repeat;
}

ul li.checked
{
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before
{
    background-image: url(images/c.jpg);
    filter: hue-rotate(25deg); /* Adjusts hue, play with degree to find your purple */  
}

ul li span 
{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover
{
    background: #edeef0;
}